<header><div class="titre">
    <img src="fleur.JPG" alt="Fleur le petit chien">

<h1>HelpMe ! </h1>
</div> 
<div class="navbar">
<a href="">Acceuil</a>
<a href="">Se connecter</a>
</div>

  </header>